ul {
    list-style-type: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
    padding-right: 5px;
}

.vl {
    float: left;
    border-right: 6px solid deepskyblue;
    height: 400px;
    width: 10%;

    /*background-color: blue;*/
}

.title{
    width: 100%;
    padding-left: 40%;
}

/* ------------------------------------------- */

* {
    /*background-color: #141B51;*/
}

.body{
    /*color: #007BFF;*/
    position: relative;
    min-height: 100vh;
}

.container{
    margin: 10px auto 20px;
    width: 50%;
    height: auto;
    /*background-color: #141B51;*/
    /*border: dashed #007BFF;*/
    padding: 10px 10px 2.5rem 10px;
}

.navbar{
    background-color: #007BFF;
    width: 100%;
    display: block;
}

.progTitle {
    /*opacity: 80%;*/
    color: #007BFF;
    margin-bottom: 200px;
    border-top: 10px solid;
}

.infoBox{
    width: 100%;
    height: 10%;
    padding-left: 10px;
    padding-bottom: 5px;
}

.infoRight{
    /*border-color: #282c34;
    border-style: double;*/
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    align-content: center;
}

.infoLeft{
    /*border-color: #282c34;
    border-style: double;*/
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.infoBottom {
    clear: left;
    padding: 25px;
}

.linkButtons{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#drop-down-basic-button{
    width: 100%;
}

#dropdown-items{
    width: 100%;
}

.footer p{
    text-align: center;
    font-size: 10px;
}

.footer {
    padding-top: 10px;
    background-color: #007BFF;
    display: block;
    margin-top:auto;
    border-top: solid #0067d9;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.TextDropdowns{
    margin-top: 10px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.video-responsive .FacebookPlayer {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#dropdown-items {
    border-style: hidden groove hidden groove;
    border-color: #007BFF;
    border-width: thick;
}